<div>
    <mat-card>
        <mat-card-header>
            <ng-container *ngIf="!isHourSelected else titleWithDate">
                <h1>{{ (selected | date:'mediumDate' ) || selectDateMessage || 'ERR' }}</h1>
            </ng-container>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="selected; else inputSkeleton">
                <div class="field-button-group">
                    <ng-container *ngIf="businessHours">
                        <ng-container *ngLet="getCurrentDayHours(businessHours, selected) as selectedDay">
                            <mat-form-field appearance="fill">
                                <mat-label>Select Desired Time</mat-label>
                                <mat-select (selectionChange)="hourSelected($event.value)">
                                    <mat-option *ngFor="let hour of selectedDay"
                                                [value]="hour">{{ hour | date:'shortTime' }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </ng-container>

                    <button mat-fab
                            color="warn"
                            aria-label="Example icon button with a bookmark icon"
                            class="next-button"
                            [disabled]="!isHourSelected"
                            (click)="confirmHour()">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
                <p class="tip">*Only available times are displayed.</p>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #inputSkeleton>
    <div class="field-button-group">
        <div class="skeleton input-skeleton"></div>
        <div class="skeleton round-button-skeleton next-button"></div>
    </div>
    <div class="skeleton tip-skeleton"></div>
</ng-template>

<ng-template #titleWithDate>
    <h1>{{ (selected | date:'medium' ) || selectDateMessage || 'ERR' }}</h1>
</ng-template>
