<h1 mat-dialog-title>First confirm some details</h1>
<div mat-dialog-content>
    <p>Reservation for {{ data.start_date | date:'short' }}</p>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput
               [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput
               [(ngModel)]="data.email">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput
               [(ngModel)]="data.phone">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button
            (click)="onNoClick()">Cancel</button>
    <button mat-button
            [mat-dialog-close]="data"
            cdkFocusInitial>Ok</button>
</div>
