<mat-card>
    <mat-card-header>
        <h1>Make a reservation</h1>
    </mat-card-header>
    <mat-card-content *ngLet="systemConfig.specificOptions as options"
                      class="form-body">
        <form [formGroup]="specificsForm">
            <div class="column">
                <span>Select on of the following options:</span>
                <mat-form-field appearance="fill">
                    <mat-label>{{ options.optionName }}</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let option of options.serviceOptions"
                                    (onSelectionChange)="selectFirstOption($event)"
                                    [value]="option">{{ option.optionName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-container *ngIf="selectedFirstOption?.services as priceOptions">
                    <span>Select on of the following services:</span>
                    <mat-form-field appearance="fill">
                        <mat-label>Service</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let option of priceOptions"
                                        (onSelectionChange)="selectSecondOption($event)"
                                        [value]="option">
                                {{ option.optionName }}{{ ": " }}{{ option.price }}{{option.currency}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <div class="spacer"></div>
                <div class="summary-box">
                    <h3>You have selected:</h3>
                    <h4>
                        <strong>{{ options.optionName }} {{ ": "}}</strong>
                        <span *ngIf="selectedFirstOption  else inputSkeleton">
                            {{ selectedFirstOption.optionName }}
                        </span>
                    </h4>
                    <h4 *ngIf="selectedFirstOption?.services">
                        <strong>{{ "Service : " }}</strong>
                        <span *ngIf="selectedSecondOption  else inputSkeleton">
                            {{ selectedSecondOption.optionName }}{{": " }}{{ selectedSecondOption.price
                            }}{{selectedSecondOption.currency}}
                        </span>
                    </h4>
                </div>
                <button mat-raised-button
                        color="accent"
                        [disabled]="!isSelectionComplete()"
                        (click)="confirmSelection()">
                    To Date Select
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<ng-template #inputSkeleton>
    <span class="skeleton text-skeleton"></span>
</ng-template>
