<div *ngLet="systemConfig | async as systemConfigValue">
    <button class="back-button"
            mat-icon-button
            aria-label="Example icon button with a open in new tab icon"
            (click)="goBack()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="widget-card">
        <mat-card class="calendar-card">
            <mat-calendar #calendar
                          [(selected)]="selected"
                          [minDate]="systemConfigValue.minDate"
                          [maxDate]="systemConfigValue.maxDate"
                          [dateFilter]="dateFilter"></mat-calendar>
        </mat-card>
        <rc-selected-date-container [selected]="selected"
                                    [selectDateMessage]="systemConfigValue.selectDateMessage"
                                    [businessHours]="systemConfigValue.hours"
                                    [companyId]="systemConfigValue.companyId"
                                    (selectedDateTime)="onSelectDateTime($event)"></rc-selected-date-container>
    </div>
</div>
