<div class="body">
    <ng-container *ngIf="isAtSpecificsStep() else calendarView">
        <rc-specifics (userSelection)="onUserSelection($event)"
                      [systemConfig]="(systemConfig | async)!">
        </rc-specifics>
    </ng-container>
</div>

<ng-template #calendarView>
    <rc-calendar-view [styleConfig]="styleConfig"
                      [systemConfig]="systemConfig"
                      (goBackEvent)="changePage(ReservationStep.SPECIFICS)"></rc-calendar-view>
</ng-template>
